.preview {
  position: relative;
  height: 32px;
  width: 100%;
  overflow: hidden;
  background-image: var(--preview-background-image);
  background-position: top left;
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-color: var(--preview-title-background);

  &::after {
    position: absolute;
    inset: 0;
    z-index: 1;
    content: "";
    background: var(--preview-title-background);
    opacity: 1;
    transition: opacity 150ms ease;
  }

  &:hover::after {
    opacity: 0;
  }
}

.title {
  position: relative;
  z-index: 2;
  margin: 0;
  overflow: hidden;
  color: var(--preview-title-foreground);

  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 1;
  transition: opacity 150ms ease;
  padding: var(--margin);

  .preview:hover & {
    opacity: 0;
  }
}
