.preview {
  position: relative;
  height: 32px;
  width: 100%;
  overflow: hidden;
  background-image: var(--preview-background-image);
  background-position: top left;
  background-repeat: repeat-x;
  background-size: auto 100%;

  &[data-expanded] {
    background-image: none;
    cursor: default;
  }

  &::after {
    position: absolute;
    inset: 0;
    z-index: 1;
    content: "";
    background: var(--preview-hover-background);
    opacity: 0;
    transition: opacity 150ms ease;
  }

  &:not([data-expanded]):hover::after {
    opacity: 1;
  }
}

.title {
  position: relative;
  z-index: 2;
  margin: 0;
  overflow: hidden;
  color: var(--preview-hover-foreground);

  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 150ms ease;
  padding: var(--margin);

  .preview:not([data-expanded]):hover & {
    opacity: 1;
  }
}
