.projectTitle {
  grid-column: 1 / -1;
  overflow: visible;
  padding: var(--margin);
}

.projectTitle > div,
.projectTitle > div > div {
  overflow: visible;
}

.projectTitle svg {
  width: auto;
  max-width: none;
  overflow: visible;
}

.block {
  grid-column: 1 / -1;
  width: 100%;
}

.entryMedia {
  grid-column: 1 / -1;
  width: 100%;
}

.projectInfo {
  padding: var(--margin);
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: var(--content-grid-gap);

  grid-column: 1 / -1;

  .description {
    grid-column: 9 / 12;
  }
}

.repeatMediaGrid {
  grid-column: 1 / -1;
  width: 100%;
}

.nextProject {
  grid-column: 1 / -1;
  display: block;
  width: 100%;
  color: inherit;
  text-decoration: none;
}

.placeholder {
  width: 100%;
  height: 100vh;
  background: red;
}
