.projectTitle {
  grid-column: 1 / -1;
  height: 100vh;
  overflow: visible;
  padding: 18px;
  padding-right: 0;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.projectTitle svg {
  width: auto;
  max-width: none;
}

.block {
  grid-column: 1 / -1;
  width: 100%;
}

.entryMedia {
  grid-column: 1 / -1;
  width: 100%;
  display: grid;
}

.projectInfo {
  position: relative;
  padding: var(--margin);
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: var(--content-grid-gap);

  height: 100vh;

  grid-column: 1 / -1;

  .projectInfoTitle {
    grid-row: 1;
    grid-column: 1 / 11;
  }

  .description {
    grid-row: 1;
    grid-column: 9 / 12;
  }
}

.Gallery {
  grid-column: 1 / -1;
  width: 100%;
}

.nextProject {
  grid-column: 1 / -1;
  display: block;
  width: 100%;
  color: inherit;
  text-decoration: none;

  &:hover {
    opacity: 1;
  }
}

.placeholder {
  width: 100%;
  height: 100vh;
  background: red;
}

.carouselMiniature {
  grid-column: 4 / 6;
  grid-row: 1;
  align-self: center;
  position: relative;
}
