.header {
  padding: var(--global-padding);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100vw;
  box-sizing: border-box;
  position: relative;
  z-index: 1;

  section {
    grid-column: span 6;
  }

  h1 {
    display: flex;
  }

  aside {
    padding: 0;
    margin: 0;
    grid-column: 9 / span 4;
    display: flex;
    justify-content: space-between;
  }

  h3 {
    min-width: 3em;
    text-transform: uppercase;
    text-align: right;
  }

  a:link,
  a:visited {
    color: inherit;
  }
}

.slug {
  display: inline-block;
  margin-right: var(--global-padding);
  min-width: 8rem;
  text-transform: capitalize;
}
