.item {
  position: relative;
}

.item a,
.item > span {
  position: relative;
  z-index: 10;
  color: inherit;
  display: flex;
}

.item.active a {
  background: var(--font-color);
  color: var(--background-color);
}

.item a span {
  pointer-events: none;
}

.label,
.item a:hover .slug {
  display: inline-block;
  margin-right: var(--global-padding);
  min-width: 8rem;
}

.slug,
.item a:hover .label {
  display: none;
}

.slug {
  text-transform: capitalize;
}
