.nav {
  position: fixed;
  left: var(--global-padding);
  right: var(--global-padding);
  bottom: var(--global-padding);
  height: auto;
  padding: 0;
  box-sizing: border-box;
  z-index: 10;
  grid-column: 1 / -1;
  display: flex;
  flex-flow: column;

  menu {
    pointer-events: none;
    opacity: 0.3;
    justify-content: flex-start;
    gap: 0.25rem;
  }

  header,
  menu {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row;
    // pointer-events: auto;

    button {
      padding: 0 0.25rem;
    }

    h3 {
      margin-right: 2rem;
    }
  }

  header {
    display: flex;
    // margin-bottom: 0.25rem;

    a,
    aside {
      display: none;
    }
  }

  a:hover,
  div[role="button"]:hover {
    background: var(--background-color);
    color: var(--font-color);
    cursor: pointer;
  }

  h1 {
    display: block;
    font-size: 1em;
    flex-grow: 1;
  }

  aside {
    pointer-events: none;
    position: fixed;
    left: -0.55em;
    top: -0.55em;
    padding: 0 var(--global-padding);
    opacity: 0;
    transition: opacity 0.2s;

    * {
      font-size: 100px;
      line-height: 100px;
      margin: 0;
    }
  }

  a {
    color: inherit;
  }

  button:hover {
    cursor: pointer;
  }
}

.active {
  text-decoration: underline;
}

@media screen and (min-width: 769px) {
  .nav {
    position: relative;
    left: auto;
    right: auto;
    bottom: auto;
    height: 100vh;
    padding: var(--global-padding) 0;
    display: block;
    grid-column: 9 / span 4;

    header {
      display: flex;

      a,
      aside {
        display: initial;
      }
    }

    menu {
      pointer-events: none;
      opacity: 0.3;
      justify-content: flex-start;
      gap: 0;
    }
  }
}

// UPDATE
