.nativeScroll {
  scroll-snap-type: y mandatory;
}

.snapElement {
  position: relative;
  grid-column: 1 / -1;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100vh;
  display: grid;
}
