:root {
  --spacing-1: 200px;
  --spacing-2: 135px;
  --spacing-3: 60px;
  --spacing-4: 40px;
  --spacing-5: 25px;
  --spacing-6: 15px;
  --spacing-7: 9px;
  --spacing-8: 5px;

  --spacing-debug-1: #2ee844;
  --spacing-debug-2: #e12ee8;
  --spacing-debug-3: #e82e4b;
  --spacing-debug-4: #ff9d00;
  --spacing-debug-5: #e8fd1c;
  --spacing-debug-6: #325c18;
  --spacing-debug-7: #0a00ff;
  --spacing-debug-8: #00ebff;
}

/* Tablets */
@media screen and (min-width: 769px) {
}
