header.header {
  position: fixed;
  z-index: 1000;
  padding: var(--margin) 0;
  width: 100%;
  padding: var(--margin);
  mix-blend-mode: difference;
  color: #fff;

  .nav {
    grid-column: 1 / 13;

    .projectId {
      grid-column: 1 / 9;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .studioLink {
      grid-column: 9 / 10;
    }
    .idLink {
      grid-column: 10 / 11;
    }
    .indexLink {
      grid-column: 11 / 12;
    }
    .contactLink {
      grid-column: 12 / 13;
      text-align: right;
    }
  }
}
