.textLink,
.textLink:visited {
  color: #000;
  background: #fff;
  padding: 0 1.5px;
  opacity: 1;
  transition:
    background-color 0.16s ease,
    color 0.16s ease;
}

.textLink:hover {
  color: #fff;
  background: #000;
  opacity: 1;
}
