.main {
  position: relative;
  color: var(--font-color);
  background: var(--background-color);
}

.intro {
  padding: var(--global-padding);
  padding-top: calc(var(--global-padding) - 1px);
  padding-left: 0px;
  grid-column: 1 / 12;
}

.mobileContact {
  position: fixed;
  bottom: var(--global-padding);
  right: var(--global-padding);
  z-index: 60;
  pointer-events: auto;
  color: inherit;
  text-decoration: none;
}

.index {
  width: 100vw;
  height: 100vh;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 0 var(--global-padding);
  box-sizing: border-box;
  z-index: 50;

  &.active {
    opacity: 1;
    pointer-events: auto;

    .projects {
      pointer-events: auto;
    }

    .projects::-webkit-scrollbar {
      display: none;
    }
  }
}

.projects {
  grid-column: span 6;
  max-height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0;
}

.short {
  padding-top: var(--global-padding);
  padding-bottom: var(--global-padding);
}

.last {
  margin-bottom: var(--global-padding);
}

@media screen and (min-width: 769px) {
  .mobileContact {
    display: none;
  }

  .intro {
    padding: var(--global-padding);
    padding-top: calc(var(--global-padding) - 1px);
    padding-left: 0px;
    grid-column: 1 / 6;
  }
}
